@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
    font-family: 'Outfit';
}

:root{
    --primary: #5f6FFF;
}

.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}
